.btn {

    &-primary {
        color: red;
        background-color: red;
    }

    &,
    &:link,
    &:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 1.5rem 4rem;
    display: inline-block;
    border-radius: 1rem;
    transition: all .2s;
    position: relative;
    font-size: 1.6rem;
    color: #ffffff;
    border: none;
    user-select: none;
    cursor: pointer;
    width: 15rem;
    height: 8rem;
    outline: none;
    transition: all .6s ease-in-out;

    

    &:hover {
        background-color: var(--color-primary);
        width: 19rem;
        height: 10rem;
    }

    &:active {
        top: 1px;
    }

}

}


.white-line {
    width: 4rem;
    height: 7px;
    margin-top: 1rem;
    background: #fff;
}

.fa-arrow-right {
    display: inline-block;
    font-size: 1.6rem;
    margin-left: 1rem;
}