.contact {
  margin-top: -6rem;
  &__title {
    line-height: 1;
    font-size: 15rem;
    color: var(--color-grey-light-2);

    @media only screen and (max-width: 740px) {
      text-align: center;
    }
  }

  &__block {
    position: relative;
    top: 19rem;

    @media only screen and (max-width: 740px) {
      top: 7rem;
      text-align: center;
    }

    &--item {
      font-size: 3rem;
      
    }


    &--color {
      color: var(--color-third);
      cursor: pointer;
      transition: color .2s linear, text-decoration .9s ease;


      &:hover {
        color: var(--color-font);
        text-decoration: underline;
      }
    }
  }
}