.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 75vh;
  
  span {
    color: var(--color-primary-light);
  }

  &__text {
    font-size: 3rem;

    &--title {
      font-weight: 600;
    }

    &--second {
      width: 70%;
      margin-bottom: 3rem;
    }
  }

  &__logos {
    align-self: flex-end;
    position: relative;
    bottom: 20rem;
    left: 7rem;
    width: 40rem;

    & i {
      margin: 0 2rem;
    }
  }

  &__logo {
    &--fixed {
     position: fixed;
     top: 4rem;
     right: 10rem;
     z-index: 2;


     & i {

     }
    }
  }
}

.fa-js-square {
  color: #F0DB4F; 
}

.fa-react {
  color: #61DAFB;
}

.fa-html5 {
  color: #E44D26;
}

.fa-css3-alt {
  color: #0170BA;
}

.fa-linux {
  color: #000000;
}

.fa-node {
 color: #8CC84B;
}

.polygon__line {
  background: linear-gradient(to left bottom,var(--color-primary-light), var(--color-primary-dark));
  height: 32vh;
  transform: skewY(-10deg);
  z-index: -2;
  //bottom: 14rem;
}

