.rhombus {
  position: absolute;
  transform: rotate(45deg);
  border-radius: 1.2rem;
  z-index: -1;
  &__header {
    background: var(--color-primary);
    width: 60rem;
    height: 60rem;
    top: -20rem;
    left: 12rem;
  }

  &__main--first {
    background: var(--color-secondary);
    width: 23rem;
    height: 23rem;
    bottom: -5rem;
    right: -11rem;
  }

  &__main--second {
    background: var(--color-primary);
    width: 12rem;
    height: 12rem;
    right: 23rem;
  }

  &__about--first {
    background: var(--color-primary);
    width: 14rem;
    height: 14rem;
    left: -4rem;
    top: 19rem;
  }

  &__about--second {
    background: var(--color-primary);
    width: 5rem;
    height: 5rem;
    right: 2rem;
    bottom: 4rem;
  }

  &__about--third {
    background: var(--color-secondary);
    width: 7rem;
    height: 7rem;
    right: 20rem;
    top: 25rem;

  }

  &__contact {
    background: var(--color-secondary);
    width: 29rem;
    height: 29rem;
    right: 9rem;
    top: 3rem;
  }

  &__link {
    background: linear-gradient(to bottom, #6ff3e1, #00d2f5, #00abff, #0079ff, #531de7);
    width: 7rem;
    height: 7rem;
    right: 5rem;

    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;


     i {
      color: #fff;
      font-size: 3.5rem;
      transform: rotate(-45deg);
      position: relative;
      bottom: 2px;
      right: 5px;
    }
  }
}