.rhombus {
  position: absolute;
  transform: rotate(45deg);
  border-radius: 1.2rem;
  z-index: -1;
  &__header {
    background: var(--color-primary);
    width: 60rem;
    height: 60rem;
    top: -20rem;
    left: 12rem;
  }

  &__main--first {
    background: black;
    width: 23rem;
    height: 23rem;
    bottom: -5rem;
    right: -11rem;
  }

  &__main--second {
    background: var(--color-primary);
    width: 12rem;
    height: 12rem;
    right: 23rem;
  }

  &__link {
    background: var(--color-primary);
    width: 7rem;
    height: 7rem;
    right: 2rem;

    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;


    & i {
      color: #fff;
      font-size: 3.5rem;
      transform: rotate(-45deg);
      position: relative;
      bottom: 2px;
      right: 5px;
    }
  }
}